<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thông báo lỗi</title>
  <link rel="stylesheet" type="text/css" th:href="@{../css/error.css}">
</head>
<body>
<div th:fragment="error-container" id="error-page" th:if="${error}" class="error-container">
  <div class="error-icon">⚠️</div>
  <h1 th:text="${error}">Đã xảy ra lỗi</h1>
  <p>Xin lỗi vì sự bất tiện này. Vui lòng quay lại trang chủ và thử lại.</p>
  <a href="/" th:href="@{/}">Quay lại trang chủ</a>
</div>
</body>
</html>
