<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div th:fragment="header" id="header">
    <div class="tieude">
      <a href="#">AUCTIONKOI</a>
    </div>
    <ul class="nav">
      <li><a th:href="@{#}" class="Home menu_item active"> Home</a></li>
      <li><a th:href="@{#}" class="blogs menu_item"> Blogs</a></li>
      <li><a th:href="@{#}" class="contact menu_item"> Contact</a></li>
      <li class="auction">
        <a th:href="@{#}" class=" menu_item">Auction</a>
        <ul class="koi-menu">
          <li><a href="#" onclick="navigateToKohaku()">Koi Kohaku</a></li>
          <li><a href="#">Koi Ogon</a></li>
          <li><a href="#">Koi Showa</a></li>
          <li><a href="#">Koi Tancho</a></li>
          <li><a href="#">Koi Bekko</a></li>
          <li><a href="#">Koi Doitsu</a></li>
          <li><a href="#">Koi Ginrin</a></li>
        </ul>
      </li>
      <li><a href="#" class="about menu_item"> About</a></li>
    </ul>
    <ul class="search">
      <li class="search-container">
        <input type="text" placeholder="Tìm kiếm..." class="search-input">
        <button class="search-button">🔍</button>
      </li>
    </ul>
    <ul class="taikhoan">
      <li class="menu_bell">
        <i class="bell ti-bell"></i>
        <ul class="profile_menu_bell" style="min-width: 350px;right: 18px">
          <li class="tb1" data-target=".thbao1"><i class="ti-control-record"></i><a>Thông báo phiên đấu giá sắp tới</a></li>
          <li class="tb2" data-target=".thbao2"><i class="ti-control-record"></i><a>Kết quả đấu giá tuần trước</a></li>
          <li class="tb3" data-target=".thbao3"><i class="ti-control-record"></i><a>Khuyến mãi đặc biệt cho thành viên mới</a></li>
          <li class="tb4" data-target=".thbao4"><i class="ti-control-record"></i><a>Cập nhật thời gian và số lần tham gia</a></li>
          <li  class="tb5" data-target=".thbao5"><i class="ti-control-record"></i><a>Cập nhật quy định đấu giá</a></li>
          <li><a class="tongquat" style="padding-left: 265px;cursor: pointer">Chi tiết</a></li>
        </ul>
      </li>
      <li class="menu_dang_nhap">
        <i  class=" user ti-user"></i>
        <ul class="profile_menu">
          <li><a class="tt_tai_khoan">Tài khoản</a></li>
          <li><a class="setting">Setting</a></li>
          <li><a th:href="@{/dashboard}" class="dashboard">Dashboard</a></li>
          <li><a class="thanh_toan">Thanh toán</a></li>
          <li><a class="logout" >Đăng xuất</a></li>
        </ul>
      </li>
      <li id="login" class="login menu_item">Log in</li>
      <li class="register" >Register</li>


    </ul>
    <script>
      function navigateToKohaku() {
        window.location.href = 'auctionDemo/Koi';
      }
    </script>
  </div>
</body>
</html>