* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1A;
}
/* mở header */
#header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2E2E;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tieude a {
    color: #FF3366;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 10px;
    position: relative;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s;
    height: 100%;

}
.active {
    background-color: #337AB7;
    color: #fff;
}
.nav li a:hover,
.taikhoan .login:hover{
    background-color: #4c4c4c;
    color: #fff;
    cursor: pointer;
}
.user, .bell{
    display: block;
    font-size: 30px;
    background-color: #aaaaaa;
    padding: 3px;
    margin: 0;
    text-align: center;
    border-radius:12px;
    border: none;
}
.user:hover,.bell:hover{
    opacity: 0.6;
    cursor: pointer;
    position: relative;
}
.bell{
    margin-right: 20px;
}
.menu_dang_nhap,.menu_bell{
    position: relative;
}

.profile_menu,.profile_menu_bell{
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
    background-color: #cccccc;
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    min-width: 190px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    line-height: 25px;
    border-radius: 8px;
    z-index: -1;
}
.profile_menu li a{
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    display: block
}
.menu_bell li a{
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: inline-flex;
}
.profile_menu li a:hover,.profile_menu_bell li a:hover{
    background-color: #ddd;
    color: black;
    border-radius: 12px;
    cursor: pointer;
}
.tongquat{
    all: unset;
}
.tongquat:hover{
    text-decoration: underline;
    background-color: #cccccc !important;
}
.koi-menu {
    display: none;
    position: absolute;
    background-color: #333333;
    list-style: none;
    padding: 10px 0;
    margin-top: 8px;
    left: 0;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.koi-menu li {
    margin: 0;
}
.koi-menu li a {
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.koi-menu li a:hover {
    background-color: #ddd;
    color: black;
}

.auction:hover .koi-menu {
    display: block;
}

.taikhoan {
    display: flex;
    align-items: center;
    list-style: none;
}

.taikhoan .login {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    border-radius: 20px;
    padding: 8px 15px;
}

.taikhoan .register {
    background-color: #FF3366;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 15px;
    transition: background-color 0.3s;
}

.taikhoan .register:hover {
    background-color: #D32F2F;
    cursor: pointer;
}
/* kết header */

/* mở slider */
#slider{
    margin-top: 4.7%;
    padding-top: 28.5%;
    background: url('../image/slider1.png') top center / contain no-repeat;

}
/* kết slider */

/* mở koi_section */
.koi_section {
    background-color: #fff;
    padding: 20px 20px;
    font-family: 'Arial', sans-serif;
    margin-top: -5px;

}

.koi_section .container {
    max-width: 800px;
    margin: 0 auto;
}

.auction-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.auction-nhom {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;

}

.section-noidung {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    max-width: 100%;
    text-align: justify;
    margin: 0 auto;
}
/* kết koi_section */

/* mở phần dịch vụ */
.auction-service{
    background-color: #f5f5f5;
    margin-top: -20px;

}
.auction-dichvu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #f5f5f5;
}

.dichvu {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.dichvu img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dichvu h3 {
    font-size: 20px;
    margin: 16px 0;
    color: #333;
}

.dichvu p {
    font-size: 14px;
    color: #666;
    padding: 0 16px 16px;
}

.dichvu:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* kết dịch vụ */

/* .auction-contact */
#contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.contact-form {
    flex: 2;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    color: #00b300;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    background-color: #00b300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.contact-form button:hover {
    background-color: #008f00;
}

.contact-form .checkbox {
    display: flex;
    align-items:first baseline;
    margin-bottom: 20px;
    float: left;
}

.contact-form .checkbox input {
    margin-right: 10px;
}

.contact-info {
    flex: 1;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p, .contact-info ul {
    margin-bottom: 10px;
    line-height: 1.6;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    margin-bottom: 5px;
}
/* kết */
.map-picture{
    width: 100%;
}
/*footer*/
#footer {
    /*margin-top: 45px;*/
    background-color: #1a2b23;
    padding: 80px 20px 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-menu {
    margin-bottom: 15px;
}

.footer-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-design a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.footer-design a:hover {
    text-decoration: underline;
}
/*login*/
#tk_login,#tk_register {
    /*display: none;*/
    width: 450px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#1A1A1A ;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: white;
    border-radius: 30px;
    animation: fade-out ease 0.7s;
}

.login_btn,.register_btn {
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    height: 44px;
    border: none;
    margin-top: 10px;
    color: #fff;
    background-color: #D32F2F;
    border-radius: 20px;
}
.login_btn:hover,
.register_btn:hover{
    opacity: 0.9;
    color: #000;
}
#username,#password{
    float: left;
    height: 40px;
    background-color: #2E2E2E;
    margin: -3px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}
.footer_login{
    text-align: center;
}
.dang_ky{
    cursor: pointer;
    height: 25px;
    width: 75px;
    border-radius: 9px;
    background-color: cadetblue;
    border: none;
}
.dang_ky:hover{
    opacity: 0.9;
    color: #1a2b23;
}
/*register*/
#tk_register h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
#first-name,#last-name,#phone-number,#email_register{
    float: right;
    height: 40px;
    background-color: #2E2E2E;
    margin: -3px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}



.input-group label {
    text-align: left;
    margin-bottom: 5px;  /* Khoảng cách giữa label và input */
}

.input-group input {
    height: 40px;
    background-color: #2E2E2E;
    line-height: 24px;
    padding: 10px;
    width: 100%;  /* Chiếm toàn bộ chiều rộng của div chứa */
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.input-row .input-group {
    width: 48%;
}

.input-group input::placeholder {
    color: #555;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
}

.regis_login {
    text-align: center;
    margin-top: 15px;
    color: #777;
    font-size: 14px;
}

.text_dk {
    color: #777;
}


/*about*/

.about_text{
    padding: 20px;
    color: white;
    border: 1px solid #1a2b23;
    border-radius: 12px;
    width: 98%;
    margin-left: 14px;
    line-height: 25px;
    background-color: #35342f;
}
.about_question{
    padding: 30px;
    color: white;
    line-height: 25px;
}
.p_question{
    padding: 20px;
}
.p1,.p2,.p3,.p4{
    height: 40px;
    width: 1285px;

    padding: 6px;
}
.p1_1,.p2_2,.p3_3,.p4_4{
    padding: 8px;
    display: none;
}
.p1:hover,.p2:hover,.p3:hover,.p4:hover{
    background-color: #4c4c4c;
    border: 1px solid #1a2b23;
    border-radius: 15px;
    cursor: pointer;

}

/* Mặc định ẩn các menu khi chưa đăng nhập */
.menu_bell, .menu_dang_nhap {
    display: none;
}

/* Hiển thị menu khi đã đăng nhập */
.logged-in .menu_bell,
.logged-in .menu_dang_nhap {
    display: block;
}

/* Ẩn nút login/register khi đã đăng nhập */
.logged-in #login,
.logged-in .register {
    display: none;
}

/* Blog container */
.blog-container {
    text-align: center;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 805px;
}
.blog-container img {
    width: 100%; /* Ảnh sẽ chiếm toàn bộ chiều rộng của phần tử cha */
    height: auto; /* Đảm bảo tỷ lệ khung hình của ảnh không bị méo */
    object-fit: cover; /* Tùy chọn này giúp ảnh fill đầy không gian mà không bị méo */
}

/* Tiêu đề Blogs */
.blog-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Danh sách Blogs */
.blog-container ul {
    list-style: none;
    padding: 0;
    max-width: 800px;
    display: block;
    margin: 0 auto; /* Canh giữa theo chiều ngang */
    padding: 20px; /* Khoảng cách bên trong khối */
    background: white; /* Màu nền tùy chọn */
    border-radius: 8px; /* Bo góc nhẹ */
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.2); /* Xám nhạt hơn */

    text-align: center; /* Canh giữa nội dung văn bản (nếu cần) */

}

.blog-container ul li {
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    background-color: #D3D3D3;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.blog-container ul li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.blog-container ul li a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
    display: block;
}

.blog-container ul li a:hover {
    color: #2c3e50;
    font-weight: bold;

}

/* Khoảng cách dưới header */
body > div:nth-child(2) {
    margin-top: 80px; /* Giảm giá trị nếu header nhỏ */
}

/* Responsive */
@media (max-width: 768px) {
    .blog-title {
        font-size: 2rem;
    }

    .blog-container ul li {
        font-size: 1rem;
    }
}