<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="login" class="modal">
    <div id="mau_nen"></div>
    <div id="tk_login">
      <h1>Well come back</h1><br>
      <form id="loginForm">
        <label for="username">Account *</label><br><br>
        <input type="text" id="username" name="username"><br><br><br>
        <label for="password">Password *</label><br><br>
        <input type="password" id="password" name="password"><br><br><br>
        <button class="login_btn" type="submit">LOG IN</button><br><br><br>
        <div class="footer_login">
          <span class="text_dk">Need an account?  </span>&nbsp
          <button class="dang_ky" type="submit">Register</button><br><br>
        </div>
      </form>
    </div>
  </div>
</body>
</html>