<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{../font_icon/themify-icons/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/styles2.css}">
</head>
<body>

<div class="modal">
    <div id="mau_nen"></div>
    <div id="tk_login">
        <h1>Welcome back</h1><br>
        <form method="POST" th:action="@{/login}">
            <label for="username">Account *</label><br><br>
            <input type="text" id="username" name="username" required><br><br><br>

            <label for="password">Password *</label><br><br>
            <input type="password" id="password" name="password" required><br><br><br>
            
            <button type="submit" id="selenium_login" class="login_btn">LOG IN</button><br><br><br>

            <div class="footer_login">
                <span class="text_dk" style="font-size: 16px">Need an account?  </span>&nbsp
                <a href="/register" class="register_btn_footer dang_ky" type="button" style="padding: 6px; text-decoration: none;" >Register</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
