<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:fragment="login" class="modal">
    <div id="mau_nen"></div>
    <div id="tk_login">
        <h1>Welcome back</h1><br>
        <form id="loginForm" method="POST" action="/login">
            <label for="username">Account *</label><br><br>
            <input type="text" id="username" name="username" required><br><br><br>
            <label for="password">Password *</label><br><br>
            <input type="password" id="password" name="password" required><br><br><br>
            <button class="login_btn" type="submit">LOG IN</button><br><br><br>
            <div class="footer_login">
                <span class="text_dk" style="font-size: 16px">Need an account?  </span>&nbsp
                <a href="/register"><button class="register dang_ky" type="button">Register</button></a><br><br>
            </div>
        </form>
    </div>
</div>
</body>
</html>
