<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=1111;encrypt=true;trustServerCertificate=true;</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">1234</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="uth.edu.auctionkoi.pojo.Auction"/>
        <mapping class="uth.edu.auctionkoi.pojo.Blog"/>
        <mapping class="uth.edu.auctionkoi.pojo.Buyer"/>
        <mapping class="uth.edu.auctionkoi.pojo.Comment"/>
        <mapping class="uth.edu.auctionkoi.pojo.Koi"/>
        <mapping class="uth.edu.auctionkoi.pojo.Manager"/>
        <mapping class="uth.edu.auctionkoi.pojo.Seller"/>
        <mapping class="uth.edu.auctionkoi.pojo.Staff"/>
        <mapping class="uth.edu.auctionkoi.pojo.Transactions"/>
        <mapping class="uth.edu.auctionkoi.pojo.Transfer"/>
        <mapping class="uth.edu.auctionkoi.pojo.User"/>
    </session-factory>
</hibernate-configuration>