<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../font_icon/themify-icons/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../css/styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../css/stylesNotification.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../../css/styles2.css}">
  <script type="text/javascript" th:src="@{../../js/jquery-3.7.1.min.js}"></script>
  <script type="text/javascript" th:src="@{../../js/javascript.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div><br><br><br><br>

  <div th:fragment="about" id="about-section" >
    <div class="about_text">
      <h2><b>Chào mừng bạn tới với AuctionKoi của nhóm 2!</b></h2><br>
      <p>AuctionKoi.com tự hào là điểm đến hàng đầu cho các cuộc đấu giá cá Koi Nhật Bản tại Hoa Kỳ. Nền tảng của chúng tôi được dành riêng để kết nối những người đam mê và sưu tập cá Koi với các nhà lai tạo có uy tín từ Nhật Bản, cung cấp tuyển chọn đặc biệt về cá Koi tinh tế của Nhật Bản.</p><br>
      <p>Với niềm đam mê sâu sắc đối với nghệ thuật và vẻ đẹp của cá Koi, chúng tôi đã tạo ra một thị trường trực tuyến quy tụ những nhà lai tạo giỏi nhất và những người mua sành điệu nhất. Các cuộc đấu giá của chúng tôi mang đến cơ hội duy nhất cho những người đam mê cá Koi có được cá chất lượng hàng đầu trực tiếp từ các nhà lai tạo nổi tiếng ở Nhật Bản, tất cả đều thoải mái tại nhà riêng của họ.</p>
    </div>
    <br>
    <div class="about_question">
      <h2><b>Câu hỏi thường gặp</b></h2><br>
      <div class="p_question">
        <p class="p1">đấu giá thực sự hoạt động như thế nào?</p>
        <p class="answer p1_1">Trong cuộc đấu giá nhà lai tạo, cá Koi vẫn đang ở Nhật Bản và chưa được vận chuyển về Việt Nam. Sau khi thắng đấu giá, cá Koi sẽ được vận chuyển về Việt Nam và trải qua quá trình cách ly hơn 4 tuần theo quy định. Sau đó, cá sẽ được giao tới người mua qua dịch vụ vận chuyển được chỉ định. Người mua chịu trách nhiệm thanh toán mọi chi phí vận chuyển và xử lý phát sinh, các khoản phí này sẽ được lập hóa đơn sau khi đấu giá kết thúc. Chúng tôi sẽ liên hệ với bạn qua điện thoại hoặc email để sắp xếp thời gian, địa điểm và phương thức thanh toán phù hợp.</p><br>
        <p class="p2">Việc vận chuyển diễn ra như thế nào và chi phí là bao nhiêu?</p>
        <p class="answer p2_2">Khi bạn thắng đấu giá cá Koi, chúng tôi sẽ liên hệ để sắp xếp ngày vận chuyển, với phương thức vận chuyển mặc định là qua Delta Cargo. Chi phí vận chuyển sẽ khác nhau tùy thuộc vào kích thước cá Koi và loại hình đấu giá bạn tham gia. Một khoản đặt cọc sẽ được tính trên mỗi cá Koi thắng trong phiên đấu giá để trang trải chi phí vận chuyển, và khoản này sẽ thay đổi tùy theo lô hàng. Số tiền đặt cọc sẽ là $250 cho các phiên đấu giá từ các nhà lai tạo Nhật Bản và $130 cho các phiên đấu giá nội bộ. Chi phí vận chuyển sẽ được xác định sau đấu giá, và mọi khoản phí bổ sung hoặc hoàn tiền sẽ được lập hóa đơn riêng.</p><br>
        <p class="p3">Điều gì xảy ra nếu cá koi của tôi chết trong quá trình vận chuyển?</p>
        <p class="answer p3_3">Nếu cá Koi của bạn không may qua đời trong quá trình vận chuyển từ nhà lai tạo đến Hoa Kỳ hoặc trong thời gian cách ly tại cơ sở của chúng tôi, số tiền bạn đã thanh toán sẽ được ghi có vào tài khoản của bạn trên auctionkoi.com để sử dụng trong các phiên đấu giá sau. Tuy nhiên, trong trường hợp cá Koi qua đời trong quá trình vận chuyển từ địa điểm của chúng tôi tại Hoa Kỳ đến địa điểm của bạn, rất tiếc chúng tôi không thể hoàn trả hoặc ghi có chi phí của cá Koi đó.</p><br>
        <p class="p4">Tôi có thể đợi bao lâu trước khi cá koi của tôi được chuyển đi?</p>
        <p class="answer p4_4">Đối với các cuộc đấu giá của Nhà tạo giống, vui lòng đợi từ 6-8 tuần trở lên trước khi cá koi của bạn được chuyển đến bạn. Điều này là do cá koi được chuẩn bị và vận chuyển từ Nhật Bản sang Mỹ, sau đó được cách ly hơn 4 tuần theo quy định trước khi vận chuyển trở lại địa điểm của bạn. Đối với các cuộc đấu giá trong nhà, vui lòng đợi 1-2 tuần trước khi cá koi của bạn được chuyển đến bạn sau khi cuộc đấu giá kết thúc. Chúng tôi sẽ liên hệ với bạn qua điện thoại hoặc email để sắp xếp thời gian, địa điểm và thanh toán vận chuyển mong muốn khi lô hàng được chuẩn bị.</p><br>
      </div>
    </div>
  </div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>