<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acount</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../font_icon/themify-icons/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/stylesNotification.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/styles2.css}">
    <script type="text/javascript" th:src="@{../../js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/javascript.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div><br><br><br><br>
<div th:fragment="account" id="tk_section" style=" background-color: #fff; padding: 20px ">
    <div class="container-account">
        <h2>Hồ Sơ Của Tôi</h2>

        <label for="account_username">Tên đăng nhập</label>
        <input type="text" id="account_username" name="username" value="ABC" readonly>

        <label for="name">Tên</label>
        <input type="text" id="name" name="name" placeholder="Nhập tên của bạn">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="he*******@gmail.com" readonly>

        <label for="phone">Số điện thoại</label>
        <input type="text" id="phone" name="phone" placeholder="Thêm số điện thoại">

        <div class="gender">
            <fieldset style="width: 97%">
                <legend>Giới tính:</legend>
                <div class="gender-form">
                    <input type="radio" id="male" name="geder">
                    <label for="male">Nam</label>
                    <input type="radio" id="female" name="geder">
                    <label for="female">Nữ</label>
                    <input type="radio" id="other" name="geder">
                    <label for="other">Khác</label>
                </div>
            </fieldset>
        </div>

        <div>
            <label for="date">Ngày sinh:</label>
            <input type="date" id="date">
        </div>

        <!--        <div class="profile-pic">-->
        <!--            <img src="avatar.png" alt="Avatar">-->
        <!--            <br>-->
        <!--            <input type="file" id="profile-pic" name="profile-pic">-->
        <!--        </div>-->

        <button type="submit">Lưu</button>
    </div>
</div>



</body>
</html>