<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auction</title>
</head>
<body>
<div th:fragment="auction" id="auction-section" style="display: none; background-color: #fff; ">
  <div class="container">
    <div class="container-head">
      <a th:href="@{#}"><h1> Auction #65</h1></a>
      <p>DATE </p>
    </div>
    <div class="Auction-menu">
      <button><i class="fa-solid fa-fish" style="padding: 0 10px"></i>Varieties</button>
      <button><i class="fa-solid fa-mars" style="padding:0 10px"> </i>Sexes</button>
      <button><i class="fa-solid fa-ruler" style="padding:0 10px">  </i>Sizes</button>
      <button><i class="fa-solid fa-globe" style="padding:0 10px"></i> Breeders</button>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="ảnh cá">
          </div>
          <img th:src="@{../image/Goshiki-auction.png}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> 910</span>
            <span>★★★★★</span>
          </div>
        </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i> $1,000</p>
          </div>
          <hr>
          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li>Kanno</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li>41 cm</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Sex:</li>
              <li>Unknown</li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li>Nisai (2y)</li>
            </ul>
          </div>

        </div>
      </div>
      <!-- Repeat .card for other items -->
    </div>

  </div>
</div>
</body>
</html>