<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>auctionDemo</title>
  <link rel="icon" th:href="@{../image/logo.webp}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../font_icon/themify-icons/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../css/styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../css/stylesNotification.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../css/styles2.css}">
  <script type="text/javascript" th:src="@{../js/jquery-3.7.1.min.js}"></script>
  <script type="text/javascript" th:src="@{../js/javascript.js}"></script>
<!--  <link rel="stylesheet" type="text/css" th:href="@{../css/style-transport.css}">-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div  id="auction-section"  style="background-color: #fff; max-width: 100% ">
  <div class="container">
    <div class="container-head">
     <h1>Auction</h1>
    </div>
<!--    <div class="Auction-menu">-->
<!--      <button><i class="fa-solid fa-fish" style="padding: 0 10px"></i>Varieties</button>-->
<!--      <button><i class="fa-solid fa-mars" style="padding:0 10px"> </i>Sexes</button>-->
<!--      <button><i class="fa-solid fa-ruler" style="padding:0 10px">  </i>Sizes</button>-->
<!--      <button><i class="fa-solid fa-globe" style="padding:0 10px"></i> Breeders</button>-->
<!--    </div>-->

    <div class="card-container">
      <div th:each="auction : ${auctions}"
           th:if="${auction.getKoi() != null}"
           class="card">
      <a th:href="@{'/auction/id=' + ${auction.getId()}}">
      <div class="card-image">
          <div class="auction-logo">
            <img th:src="@{https://auctionkoi.com/images/kanno-logo.png}" alt="logo">
          </div>
          <img th:src="@{${auction.getKoi().getKoiImage()}}" alt="Golden Corn">
          <div class="rating">
            <span><i class="fa-solid fa-tag"></i> <span th:text="${auction.getId()}"></span></span>
            <span>★★★★★</span>
          </div>
      </div>
        <div class="card-body">
          <div class="cardd">
            <h2>Goshiki</h2>
            <p><i class="fa-solid fa-clock"></i> Ended!</p>
            <p><i class="fa-solid fa-play"></i><span th:text="${auction.getCurrentPrice()}"></span></p>
          </div>
          <hr>

          <div class="card-details">
            <ul>
              <li><i class="fa-solid fa-globe"></i> Breeder:</li>
              <li th:text="${auction.getKoi().getKoiType()}"></td></li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-ruler"></i> Length:</li>
              <li th:text="${auction.getKoi().getKoiWeight()}"></li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-venus-mars"></i> Color:</li>
              <li th:text="${auction.getKoi().getKoiColor()}"></li>
            </ul>
            <ul>
              <li><i class="fa-solid fa-birthday-cake"></i> Age:</li>
              <li th:text="${auction.getKoi().getKoiAge()}"></li>
            </ul>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>